<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Settings>
    <Key>Culture</Key>
    <Value>ja-JP</Value>
  </Settings>
  <Settings>
    <Key>MainTitle</Key>
    <Value>設定</Value>
  </Settings>
  <Settings>
    <Key>tabGeneralSettings</Key>
    <Value>一般</Value>
  </Settings>
  <Settings>
    <Key>grOtherSettings</Key>
    <Value>その他の設定</Value>
  </Settings>
  <Settings>
    <Key>ckOnTop</Key>
    <Value>常に手前に表示</Value>
  </Settings>
  <Settings>
    <Key>lbSearchResults</Key>
    <Value>表示する結果</Value>
  </Settings>
  <Settings>
    <Key>ckMinimize</Key>
    <Value>トレイに最小化</Value>
  </Settings>
  <Settings>
    <Key>lbProgramPriority</Key>
    <Value>プログラムの優先度</Value>
  </Settings>
  <Settings>
    <Key>lbRestart</Key>
    <Value>再起動が必要</Value>
  </Settings>
  <Settings>
    <Key>grLang</Key>
    <Value>言語</Value>
  </Settings>
  <Settings>
    <Key>lbPreferredLanguage</Key>
    <Value>デフォルトの言語</Value>
  </Settings>
  <Settings>
    <Key>grDbSettings</Key>
    <Value>データベース設定</Value>
  </Settings>
  <Settings>
    <Key>lbMysqlServer</Key>
    <Value>MySQLサーバー</Value>
  </Settings>
  <Settings>
    <Key>lbMysqlUsername</Key>
    <Value>MySQLユーザー</Value>
  </Settings>
  <Settings>
    <Key>lbMysqlPassword</Key>
    <Value>MySQLパスワード</Value>
  </Settings>
  <Settings>
    <Key>lbMysqlDatabase</Key>
    <Value>データベース名</Value>
  </Settings>
  <Settings>
    <Key>PriorityBelowNormal</Key>
    <Value>通常より下</Value>
  </Settings>
  <Settings>
    <Key>PriorityNormal</Key>
    <Value>通常</Value>
  </Settings>
  <Settings>
    <Key>PriorityAboveNormal</Key>
    <Value>通常より上</Value>
  </Settings>
  <Settings>
    <Key>lbDateFormat</Key>
    <Value>日付の形式</Value>
  </Settings>
  <Settings>
    <Key>tabSoundCards</Key>
    <Value>サウンドデバイス</Value>
  </Settings>
  <Settings>
    <Key>grSoundCards</Key>
    <Value>オーディオ出力設定</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard</Key>
    <Value>メイン 1</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard2</Key>
    <Value>メイン 2</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard3</Key>
    <Value>メイン 3</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard4</Key>
    <Value>メイン 4</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard5</Key>
    <Value>メイン 5</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard6</Key>
    <Value>メイン 6</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard7</Key>
    <Value>メイン 7</Value>
  </Settings>
  <Settings>
    <Key>lbMainSoundCard8</Key>
    <Value>メイン 8</Value>
  </Settings>
  <Settings>
    <Key>lbSwSoundCard</Key>
    <Value>スイーパー/ボイスオーバー</Value>
  </Settings>
  <Settings>
    <Key>lbAuxSoundCard</Key>
    <Value>AUXプレーヤー</Value>
  </Settings>
  <Settings>
    <Key>lbMonitorSoundCard</Key>
    <Value>モニタリング (CUE)</Value>
  </Settings>
  <Settings>
    <Key>grInputSound</Key>
    <Value>オーディオ入力設定</Value>
  </Settings>
  <Settings>
    <Key>lbInputCard</Key>
    <Value>入力サウンドデバイス</Value>
  </Settings>
  <Settings>
    <Key>lbInputChannel</Key>
    <Value>入力チャンネル</Value>
  </Settings>
  <Settings>
    <Key>ckFade2Input</Key>
    <Value>アクティブ時に音楽をフェードアウト</Value>
  </Settings>
  <Settings>
    <Key>grMixing</Key>
    <Value>ミキシング設定</Value>
  </Settings>
  <Settings>
    <Key>lbOverlapDuration</Key>
    <Value>オーバーレイの長さ</Value>
  </Settings>
  <Settings>
    <Key>lbOverlapInfo</Key>
    <Value>ミリ秒 (手動ミックス時)</Value>
  </Settings>
  <Settings>
    <Key>lbFadeOut</Key>
    <Value>フェードアウトの期間</Value>
  </Settings>
  <Settings>
    <Key>lbFadeoutInfo</Key>
    <Value>ミリ秒 (手動ミックス時)</Value>
  </Settings>
  <Settings>
    <Key>tabAutoDJ</Key>
    <Value>Auto DJ</Value>
  </Settings>
  <Settings>
    <Key>grAutoDJMain</Key>
    <Value>メイン設定</Value>
  </Settings>
  <Settings>
    <Key>ckAutoDJ</Key>
    <Value>起動時に有効化</Value>
  </Settings>
  <Settings>
    <Key>ckAutoPlay</Key>
    <Value>起動時に自動再生</Value>
  </Settings>
  <Settings>
    <Key>lbAutoPlayInfo</Key>
    <Value>(Auto DJがアクティブの場合のみ)</Value>
  </Settings>
  <Settings>
    <Key>grRotationRules</Key>
    <Value>トラックローテーションルール</Value>
  </Settings>
  <Settings>
    <Key>lbSameSong</Key>
    <Value>同じトラックを再生しない</Value>
  </Settings>
  <Settings>
    <Key>lbMinutes1</Key>
    <Value>分。</Value>
  </Settings>
  <Settings>
    <Key>lbSameArtist</Key>
    <Value>同じアーティストを再生しない</Value>
  </Settings>
  <Settings>
    <Key>lbMinutes2</Key>
    <Value>分。</Value>
  </Settings>
  <Settings>
    <Key>lbRulesWarning</Key>
    <Value>より多くの分数は、より多くのインポートされたトラックが必要です！</Value>
  </Settings>
  <Settings>
    <Key>grSweeperSettings</Key>
    <Value>スイーパー設定</Value>
  </Settings>
  <Settings>
    <Key>lbIfSongIntro</Key>
    <Value>イントロが指定秒より長い場合、トラック開始時にスイーパーを再生</Value>
  </Settings>
  <Settings>
    <Key>lbIfSongIntroInfo</Key>
    <Value>秒、スイーパー再生時の曲の音量を設定 (0=ミュート, 10=最大)</Value>
  </Settings>
  <Settings>
    <Key>grSilenceRemover</Key>
    <Value>無音部分の除去</Value>
  </Settings>
    <Settings>
    <Key>lbStartLevelThr</Key>
    <Value>開始閾値</Value>
  </Settings>
  <Settings>
    <Key>lbNextStart</Key>
    <Value>ミックス閾値</Value>
  </Settings>
  <Settings>
    <Key>lbEndLevel</Key>
    <Value>終了閾値</Value>
  </Settings>
  <Settings>
    <Key>lbStartLevelDB</Key>
    <Value>デシベル</Value>
  </Settings>
  <Settings>
    <Key>lbEndLevelDB</Key>
    <Value>デシベル</Value>
  </Settings>
  <Settings>
    <Key>ckSilenceRemover</Key>
    <Value>アクティブ</Value>
  </Settings>
  <Settings>
    <Key>tabStreamTitles</Key>
    <Value>ストリームタイトル</Value>
  </Settings>
  <Settings>
    <Key>grRadioDetails</Key>
    <Value>ラジオ詳細</Value>
  </Settings>
  <Settings>
    <Key>lbStationName</Key>
    <Value>ラジオ局名</Value>
  </Settings>
  <Settings>
    <Key>lbStationSlogan</Key>
    <Value>ラジオ局スローガン</Value>
  </Settings>
  <Settings>
    <Key>grTitles</Key>
    <Value>ファイルタイプのタイトル</Value>
  </Settings>
  <Settings>
    <Key>lbMusic</Key>
    <Value>音楽</Value>
  </Settings>
  <Settings>
    <Key>lbJingle</Key>
    <Value>ジングル</Value>
  </Settings>
  <Settings>
    <Key>lbVoiceOver</Key>
    <Value>ボイスオーバー</Value>
  </Settings>
  <Settings>
    <Key>lbCommercial</Key>
    <Value>コマーシャル</Value>
  </Settings>
  <Settings>
    <Key>lbInternetStream</Key>
    <Value>インターネットストリーム</Value>
  </Settings>
  <Settings>
    <Key>lvVDF</Key>
    <Value>VDF（可変長ファイル）</Value>
  </Settings>
  <Settings>
    <Key>lbOthers</Key>
    <Value>その他</Value>
  </Settings>
  <Settings>
    <Key>grMisc</Key>
    <Value>その他</Value>
  </Settings>
  <Settings>
    <Key>ckShowInfo</Key>
    <Value>情報ウィンドウを表示</Value>
  </Settings>
  <Settings>
    <Key>tabMisc</Key>
    <Value>その他の設定</Value>
  </Settings>
  <Settings>
    <Key>grPriority</Key>
    <Value>トラックの優先度</Value>
  </Settings>
  <Settings>
    <Key>lbOnPlayReduce</Key>
    <Value>再生時に優先度を下げる</Value>
  </Settings>
  <Settings>
    <Key>lbDefaultPriority</Key>
    <Value>デフォルトの優先度</Value>
  </Settings>
  <Settings>
    <Key>grMainButtons</Key>
    <Value>ショートカットボタン</Value>
  </Settings>
  <Settings>
    <Key>lbButton1</Key>
    <Value>ボタン1</Value>
  </Settings>
  <Settings>
    <Key>lbButton2</Key>
    <Value>ボタン2</Value>
  </Settings>
  <Settings>
    <Key>lbButton3</Key>
    <Value>ボタン3</Value>
  </Settings>
  <Settings>
    <Key>lbButton4</Key>
    <Value>ボタン4</Value>
  </Settings>
  <Settings>
    <Key>lbButton5</Key>
    <Value>ボタン5</Value>
  </Settings>
  <Settings>
    <Key>tabPlugins</Key>
    <Value>プラグイン</Value>
  </Settings>
  <Settings>
    <Key>butShow</Key>
    <Value>表示</Value>
  </Settings>
  <Settings>
    <Key>butConfigure</Key>
    <Value>設定</Value>
  </Settings>
  <Settings>
    <Key>butDescription</Key>
    <Value>説明</Value>
  </Settings>
  <Settings>
    <Key>butAbout</Key>
    <Value>情報</Value>
  </Settings>
  <Settings>
    <Key>bSaveGenSettings</Key>
    <Value>閉じる</Value>
  </Settings>
  <Settings>
    <Key>bCancelGenSet</Key>
    <Value>OK</Value>
  </Settings>
  <Settings>
    <Key>lbPlaybackBuffer</Key>
    <Value>再生バッファ（ミリ秒）</Value>
  </Settings>
  <Settings>
    <Key>lbMixerBuffer</Key>
    <Value>ミキサーバッファ</Value>
  </Settings>
  <Settings>
    <Key>lbInputBuffer</Key>
    <Value>入力バッファ</Value>
  </Settings>
  <Settings>
    <Key>ckEnableErrorLog</Key>
    <Value>エラーログを有効にする</Value>
  </Settings>
    <Settings>
    <Key>lbVTSoundCard</Key>
    <Value>ボイストラック</Value>
  </Settings>
  <Settings>
    <Key>lbCartsSoundCard</Key>
    <Value>インスタントプレイヤー</Value>
  </Settings>
  <Settings>
    <Key>lbScAux1</Key>
    <Value>オーディオプレーヤー 1</Value>
  </Settings>
  <Settings>
    <Key>lbScAux2</Key>
    <Value>オーディオプレーヤー 2</Value>
  </Settings>
  <Settings>
    <Key>lbScAux3</Key>
    <Value>オーディオプレーヤー 3</Value>
  </Settings>
  <Settings>
    <Key>lbScAux4</Key>
    <Value>オーディオプレーヤー 4</Value>
  </Settings>
  <Settings>
    <Key>lbScAux5</Key>
    <Value>オーディオプレーヤー 5</Value>
  </Settings>
  <Settings>
    <Key>lbOverlay</Key>
    <Value>オーバーレイファイル再生時の曲の音量を設定</Value>
  </Settings>
  <Settings>
    <Key>lbOverlayDescription</Key>
    <Value>（0はミュート、10は最大音量）</Value>
  </Settings>
  <Settings>
    <Key>lbOnVTVol</Key>
    <Value>VT再生時の曲の音量を設定</Value>
  </Settings>
  <Settings>
    <Key>lbVTVolDescription</Key>
    <Value>（0はミュート、10は最大音量）</Value>
  </Settings>
  <Settings>
    <Key>ckSweeperFit</Key>
    <Value>スイーパーに合わせる</Value>
  </Settings>
  <Settings>
    <Key>grLineInTitle</Key>
    <Value>ラインインタイトル</Value>
  </Settings>
  <Settings>
    <Key>ckLineInEnable</Key>
    <Value>有効</Value>
  </Settings>
  <Settings>
    <Key>lbLineInTitle</Key>
    <Value>ラインインタイトル</Value>
  </Settings>
  <Settings>
    <Key>lbKeepHistory</Key>
    <Value>保存期間</Value>
  </Settings>
  <Settings>
    <Key>lbKeepHistoryDays</Key>
    <Value>日間（無効化するには0）</Value>
  </Settings>
  <Settings>
    <Key>lbPreloadTrack</Key>
    <Value>次のファイルをプリロード</Value>
  </Settings>
  <Settings>
    <Key>lbInputFadeIn</Key>
    <Value>ラインフェードイン</Value>
  </Settings>
  <Settings>
    <Key>lbInputFadeOut</Key>
    <Value>ラインフェードアウト</Value>
  </Settings>
  <Settings>
    <Key>lbStopFadeOut</Key>
    <Value>停止時のフェードアウト期間</Value>
  </Settings>
  <Settings>
    <Key>lbStopFadeoutMillisec</Key>
    <Value>ミリ秒。</Value>
  </Settings>
  <Settings>
    <Key>lbColorPlayedTracks</Key>
    <Value>再生済みトラックの色</Value>
  </Settings>
  <Settings>
    <Key>lbColorDisabledTracks</Key>
    <Value>無効なトラックの色</Value>
  </Settings>
  <Settings>
    <Key>lbArtworkPath</Key>
    <Value>アートワーク保存パス</Value>
  </Settings>
  <Settings>
    <Key>lbPreloadSeconds</Key>
    <Value>秒。</Value>
  </Settings>
  <Settings>
    <Key>ckHisghlightPlayedArtist</Key>
    <Value>再生されたアーティストを強調表示</Value>
  </Settings>
  <Settings>
    <Key>ckStoreToDatabase</Key>
    <Value>設定をデータベースに保存</Value>
  </Settings>
  <Settings>
    <Key>ckRemoteInstance</Key>
    <Value>リモートインスタンス</Value>
  </Settings>
  <Settings>
    <Key>ckOneInstance</Key>
    <Value>1つのインスタンスのみ許可</Value>
  </Settings>
  <Settings>
    <Key>lbOutputMode</Key>
    <Value>出力モード</Value>
  </Settings>
  <Settings>
    <Key>lbSmartEventsInterval</Key>
    <Value>スマートイベントの間隔</Value>
  </Settings>
    <Settings>
    <Key>lbSameTitle</Key>
    <Value>同じタイトルを再生しないようにする</Value>
  </Settings>
  <Settings>
    <Key>lbMinutes4</Key>
    <Value>分。</Value>
  </Settings>
  <Settings>
    <Key>lbSameAlbum</Key>
    <Value>同じアルバムを再生しないようにする</Value>
  </Settings>
  <Settings>
    <Key>lbMinutes3</Key>
    <Value>分。</Value>
  </Settings>
  <Settings>
    <Key>ckArtistSeparation</Key>
    <Value>アーティストの分離</Value>
  </Settings>
  <Settings>
    <Key>lbArtistSeparationNote</Key>
    <Value>（トラックに複数のアーティストがいる場合、それぞれを個別に扱います。実験的！）</Value>
  </Settings>
  <Settings>
    <Key>ckResetSubcategory</Key>
    <Value>サブカテゴリをリセット</Value>
  </Settings>
  <Settings>
    <Key>lbResetDetails</Key>
    <Value>（再生可能なトラックがなくなった場合）</Value>
  </Settings>
  <Settings>
    <Key>txtRestartRequired</Key>
    <Value>新しい設定を使用するためには、プログラムを再起動する必要があります！</Value>
  </Settings>
  <Settings>
    <Key>grColors</Key>
    <Value>カラー</Value>
  </Settings>
  <Settings>
    <Key>lbColorScheme</Key>
    <Value>カラースキーム</Value>
  </Settings>
  <Settings>
    <Key>grRecording</Key>
    <Value>録音</Value>
  </Settings>
  <Settings>
    <Key>lbRecordsFolder</Key>
    <Value>録音フォルダ</Value>
  </Settings>
  <Settings>
    <Key>grArtwork</Key>
    <Value>アートワーク</Value>
  </Settings>
  <Settings>
    <Key>ckArtwork</Key>
    <Value>有効</Value>
  </Settings>
  <Settings>
    <Key>ckPassiveMode</Key>
    <Value>パッシブモード（編集用）</Value>
  </Settings>
  <Settings>
    <Key>ckPreventDoubleStart</Key>
    <Value>複数の開始を防止</Value>
  </Settings>
  <Settings>
    <Key>lbPreventMultipleStartInfo</Key>
    <Value>開始コマンドは短い間隔で一度だけ送信できます。</Value>
  </Settings>
  <Settings>
    <Key>LbKeepInPlaylist</Key>
    <Value>プレイリストに保持</Value>
  </Settings>
  <Settings>
    <Key>lbTracksToKeepInPlaylist</Key>
    <Value>アイテム（0 = 1回の再生）</Value>
  </Settings>
  <Settings>
    <Key>grRemoteSettings</Key>
    <Value>リモートオプション</Value>
  </Settings>
  <Settings>
    <Key>lbUserID</Key>
    <Value>ユーザーID</Value>
  </Settings>
  <Settings>
    <Key>lbServer</Key>
    <Value>サーバーアドレス</Value>
  </Settings>
</NewDataSet>
